#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

## Telegram
BOT_TOKEN = "" # ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
OWNER_ID =
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
TELEGRAM_API = 
TELEGRAM_HASH = ""
AUTHORIZED_CHATS = "" #Separated by space
MAX_CONCURRENT_DOWNLOADS = 4

## Drive
GDRIVE_FOLDER_ID = ""
IS_TEAM_DRIVE = ""
INDEX_URL = ""
DOWNLOAD_DIR = "/app/downloads" #   Dont change this if you are using Docker compose
USE_SERVICE_ACCOUNTS = ""

## Optional config
UPTOBOX_TOKEN = ""

MEGA_KEY = ""  # Get this from https://mega.nz/sdk
MEGA_USERNAME = ""
MEGA_PASSWORD = ""
BLOCK_MEGA_LINKS = ""

STOP_DUPLICATE_MIRROR = ""

SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""


# Commands Customization (Completely Optional)
# If you want to change
START_COMMAND = ""
MIRROR_COMMAND = ""
UNZIP_COMMAND = ""
TAR_COMMAND = ""
CANCEL_COMMAND = ""
CANCELALL_COMMAND = ""
LIST_COMMAND = ""
SPEED_COMMAND = ""
COUNT_COMMAND = ""
STATUS_COMMAND = ""
AUTH_COMMAND = ""
UNAUTH_COMMAND = ""
PING_COMMAND = ""
RESTART_COMMAND = ""
STATS_COMMAND = ""
HELP_COMMAND = ""
LOG_COMMAND = ""
CLONE_COMMAND = ""
WATCH_COMMAND = ""
TARWATCH_COMMAND = ""
DELETE_COMMAND = ""